<div [ngClass]="{ hidden: !isShow }">
  <mat-form-field appearance="fill">
    <mat-label>Filter property status</mat-label>
    <mat-select
      [(ngModel)]="filterdPropertyValue"
      (selectionChange)="onChange($event.value)"
    >
      <mat-option value="all">All</mat-option>
      <mat-option value="inactive">Inactive</mat-option>
      <mat-option value="vacant">Vacant</mat-option>
      <mat-option value="occupied">Occupied</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Filter tenant status</mat-label>
    <mat-select
      [(ngModel)]="filterdTenantValue"
      (selectionChange)="onChange($event.value)"
    >
      <mat-option value="all">All</mat-option>
      <mat-option value="occupied">Active</mat-option>
      <mat-option value="vacant">Inactive</mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="propertiesList">
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>created</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdOn | date: "shortDate" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="property">
      <th mat-header-cell *matHeaderCellDef>Property</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="openDialog(element.propertyId, element.occupiedStats)"
      >
        <a href="javascript:;">{{ element.propertyId }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="property status">
      <th mat-header-cell *matHeaderCellDef>Property Status</th>
      <td
        class="status"
        mat-cell
        *matCellDef="let element"
        [ngClass]="element.occupiedStats === 'occupied' ? 'occupied' : 'vacant'"
      >
        {{ element.occupiedStats }}
      </td>
    </ng-container>

    <ng-container matColumnDef="plan">
      <th mat-header-cell *matHeaderCellDef>Plan</th>
      <td mat-cell *matCellDef="let element">{{ element.plan }}</td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef>Owner</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="openDialog(element.owner, element.ownerStatus)"
      >
        <a href="javascript:;">{{ element.owner }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="owner status">
      <th mat-header-cell *matHeaderCellDef>Owner Status</th>
      <td
        class="status"
        mat-cell
        *matCellDef="let element"
        [ngClass]="element.ownerStatus === 'active' ? 'active' : 'inactive'"
      >
        {{ element.ownerStatus }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tenant">
      <th mat-header-cell *matHeaderCellDef>Tenant</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="
          openDialog(element.tenant.firstName, element.tenant.tenantStatus)
        "
      >
        <a href="javascript:;" *ngIf="!!element.tenant"
          >{{ element.tenant.firstName }} {{ element.tenant.lastName }}</a
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="tenant status">
      <th mat-header-cell *matHeaderCellDef>Tenant Status</th>
      <td
        class="status"
        mat-cell
        *matCellDef="let element"
        [ngClass]="
          element.tenant.tenantStatus === 'active' ? 'active' : 'inactive'
        "
      >
        <span *ngIf="!!element.tenant">{{ element.tenant.tenantStatus }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="8"></mat-paginator>
</div>
