.hidden {
  display: none;
}
table {
  width: 100%;
}
.active,
.occupied {
  color: #08be22;
}
.vacant {
  color: #d52b1e;
}
.inactive {
  color: #353435;
}

.status {
  text-transform: uppercase;
}
a {
  color: rgb(58, 151, 204);
}
th.mat-header-cell,
td.mat-cell {
  padding: 0 10px;
}
