:host{
  display:block;
  max-width: 1300px;
  margin:0 auto;
  
  text-align: left;

}

.hidden {
  display: none;
  
}
.table-wrapper{
  border-radius: 3px;
  border:#cfd6de 1px solid;
  background: #fff;
  padding:10px;
}

table {
  width: 100%;

}
.active,
.occupied {
  color: #08be22;
}
.vacant {
  color: #d52b1e;
}
.inactive {
  color: #353435;
}

.status {
  text-transform: uppercase;
}
a {
  color: rgb(58, 151, 204);
}
th.mat-header-cell,
td.mat-cell {
  padding: 0 10px;
}
